<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Services</h1>-->

<!--<div id="services">-->
  <%# @services.each do |service| %>
    <%#= render service %>
<!--    <p>-->
      <%#= link_to "Show this service", service %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New service", new_service_path %>

<h1>Services</h1>

<% @services.each do |service| %>
  <div>
    <h3><%= service.name %></h3>
    <p>Email: <%= service.email %></p>
    <% if service.tags.exists?(name: 'oil_change') %>
      <% oil_change = service.functions.find_by(name: 'oil_change') %>
      <form>
        <label>Oil Quantity:</label>
        <input type="text" name="quantity" value="<%= oil_change.car %>">

        <label>Oil Type:</label>
        <input type="date" name="type" value="<%= oil_change.next_visit %>">

        <!-- Add more form inputs for other parameters -->

        <input type="submit" value="Update">
      </form>
    <% end %>
<% end %>




</div>