<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Services</h1>-->

<!--<div id="services">-->
  <%# @services.each do |service| %>
    <%#= render service %>
<!--    <p>-->
      <%#= link_to "Show this service", service %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New service", new_service_path %>

<h1>Services</h1>

<% @services.each do |service| %>
  <div>
    <h3><%= service.name %></h3>
    <p>Email: <%= service.email %></p>
<!--    <ul>-->
      <%# service.service_type.each do |element| %>
<!--        <li><%#= element %></li>-->
      <%# end %>
<!--    </ul>-->

  </div>
<% end %>




