<div id="<%= dom_id work %>">
  <p>
    <strong>Car:</strong>
    <%= work.car_id %>
  </p>

  <p>
    <strong>Service work:</strong>
    <%= work.service_work %>
  </p>

  <p>
    <strong>Next appointment:</strong>
    <%= work.next_appointment %>
  </p>

</div>
